:root {
  --background-color: white;
  --text-color: black;
}

.dark-theme {
  --background-color: #0a0d10;
  --text-color: #e8ecef;
}

.light-theme {
  --background-color: white;
  --text-color: black;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}